@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .general-gradient {
    background-color: #ffffff;
    background: linear-gradient(56deg, rgba(255, 255, 255, 0.006) 35%, rgba(0, 157, 183, 0.4) 100%);
  }
  .showcase-card-gradient {
    background-image: linear-gradient(to bottom right, #fd8451, #ffbd6f);
  }
}
